.header-header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  width: 95vw;
}

.user-currency {
  align-items: center;
  background-color: rgb(10, 22, 0);
  border-radius: 15px;
  color: white;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin-right: 30px;
  padding-left: 40px;
  padding-right: 40px;
  width: 700px;
}

.logo-div-header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  text-shadow: 2px 2px 2px black;
  width: 300px;
}

.logo-wallet-header {
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
  width: 70px;
}
