body {
  background-color: rgb(60, 180, 140);
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 100vw;
}

.login-body {
  align-items: center;
  background-color: rgb(53, 126, 83);
  border: 10px solid white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  width: 400px;
}

.logo-div {
  align-items: center;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  text-shadow: 2px 2px 2px black;
  width: 320px;
}

.logo-wallet {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
  width: 120px;
}
