.table-header {
  background-color: rgb(10, 22, 0);
  color: white;
  height: 50px;
  width: 100vw;
}

.table-tr1 , .table-tr2 {
  width: 100vw;
}

.table-tr1 th , .table-tr2 td {
  font-size: 12px;
  text-align: center;
  width: 100vw;
}

.table-tr2 td {
  background-color: white;
}
